.chat__messages {
  padding-left: 1rem;
  padding-right: 1rem;
}
.chats__lists .chat {
  margin-bottom: 2.1rem;
}

.chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.chat__timestamp {
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: center;
}

.message .message__content {
  width: 90%;
}

.incoming-message img {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.incoming-message {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.message__bubble {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px;
  width: 100%;
}
.message__author {
  display: block;
  line-height: 2rem;
}

.sent-message .answer {
  margin-top: 1rem;
  background-color: rgb(247, 254, 239);
}

.sent-message {
  margin-left: auto;
}
