.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 3rem;
  border-radius: 1.2rem;
}
/* 
.friend__avatar.medium {
  width: 3.5rem;
} */

.friend__avatar.g-avatar {
  width: 3.2rem;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 1rem;
}

.friend__content .friend__name {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.friend__content .friend__status {
  font-size: 0.8rem;
  opacity: 0.7;
}

.friend__content .friend__bottom-text {
  font-size: 0.93rem;
  opacity: 0.7;
  font-weight: bold;
}
.friend__column .chat__timestamp {
  font-size: 0.9rem;
  opacity: 0.7;
  font-weight: bold;
}

.friend .friend__now-listening {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid #ff0101;
  box-shadow: 0 0 4px #ff073a;
  opacity: 0.9;
  padding: 5px 6px;
  font-size: 0.7rem;
}
.friend .fa-youtube {
  color: red;
  font-size: 1rem;
  margin-right: 0.3rem;
}
