.friends {
  padding-top: 0;
  margin: 0 0.4rem;
}
.friends .friends__plus {
  margin: 1.5rem 0;
  padding-top: 20px;
  border-top: 1px solid #f5f1f1;
  border-bottom: 1px solid #f5f1f1;
}

.friends__plus .friends__title,
.friends__title {
  margin-bottom: 1rem;
  opacity: 0.8;
  font-weight: bold;
}
