.chat {
  background: rgb(252, 251, 251); /* Green background with 30% opacity ;*/
  min-height: 80vh;
}
.chat__write {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 150px;
  width: 80%;
  background-color: #f7f7f7;
  padding: 0 25px;
  border-radius: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.chat__write-column:nth-child(2) {
  padding: 0.8rem;
  width: 85%;
}

.chat__write-input:focus {
  outline: none;
}

.chat__write-input {
  padding: 0.3rem;
  width: 100%;
  font-size: 1rem;
}
