.more {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}
.more .myself {
  box-shadow: 0px 0px 6px rgb(255, 30, 0);
}

/* button-list */
.more .more__btn-list {
  display: flex;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 0.8;
  font-weight: bold;
}
.more .more__btn {
  margin-right: 4rem;
  cursor: pointer;
  font-size: 1rem;
}
.more__btn i {
  font-size: 1.3rem;
}
.more .more__btn-title {
  margin-top: 1rem;
  margin-left: 0;
  display: flex;
  font-size: 13px;
}

/* suggestions */
.more .more__suggestions {
  border-top: 1px solid #f5f1f1;
  padding-top: 1.2rem;
  font-weight: bold;
}

.more__suggestions .more__title,
.more__weather {
  font-size: 1rem;
}

.more__suggestions .more__suggestions-list {
  margin-top: 1.5rem;
  display: flex;
  text-align: center;
}
.more__suggestions .suggestion {
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.more__suggestions .suggestion__title {
  margin-top: 0.5rem;
  display: flex;
  font-size: 14px;
}

.suggestion__icon i {
  border-radius: 5rem;
  color: rgb(59, 57, 57);
  padding: 0.8rem;
  background-color: rgb(247, 235, 235);
  box-shadow: 0px 0px 10px rgb(255, 30, 0);
}
.suggestion__icon i:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 54, 54);
}

.suggestion:hover {
  cursor: pointer;
  transition: all 0.8s;
}

/* weather */
.more__weather .weather__container {
  border-top: 1px solid #f5f1f1;
  padding-top: 1rem;
  margin-top: 2rem;
}
.more__weather .weather__title {
  font-weight: bold;
}
.more__weather .weather-content {
  margin-top: 1.5rem;
  display: flex;
  font-size: 1.2rem;
}

.more__weather .location,
.weather-icon {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  margin-left: 1.4rem;
}

.content__p {
  font-size: 1.1rem;
}
