.nav-message {
  position: absolute;
  width: 100%;
  background-color: rgb(245, 245, 245);
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-message .nav__list {
  display: flex;
  justify-content: space-around;
}
.nav-message .nav__list-link {
  position: relative;
}

.nav-message .nav__msg-count {
  position: absolute;
  top: -8px;
  right: -25px;
  color: white;
  background-color: red;
  border-radius: 1rem;
  padding: 1px;
  width: 35px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}
