.nav {
  position: fixed;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #f7f7f7;
  padding: 1rem;
  left: 0;
  bottom: 0;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}
.nav .nav__list-link {
  position: relative;
}

.nav .nav__msg-count {
  position: absolute;
  top: -2px;
  right: -18px;
  color: white;
  background-image: linear-gradient(to bottom, #e52d27, #b31217);
  border-radius: 1rem;
  padding: 1px;
  width: 23px;
  height: 13px;
  text-align: center;
  font-size: 13px;
}

.chat .nav__msg-count {
  position: absolute;
  top: -8px;
  right: -25px;
  color: white;
  background-image: linear-gradient(to bottom, #e52d27, #b31217);
  border-radius: 1rem;
  padding: 1px;
  width: 35px;
  height: 15px;
  font-size: 15px;
}

.nav .count-icon .far {
  font-weight: 600;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.2s;
}
