.nav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
  padding: 2rem;
}
.nav .fa-user:before,
.fa-comment-dots,
.fa-hashtag,
.fa-ellipsis-h {
  font-size: 1.5rem;
}
.nav .nav__list {
  display: flex;
  justify-content: space-around;
}
.nav .nav__list-link {
  position: relative;
}

.nav .nav__msg-count {
  position: absolute;
  top: -8px;
  right: -25px;
  color: white;
  background-color: red;
  border-radius: 1rem;
  padding: 1px;
  width: 35px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}
