.settings .settings__sections {
  border-top: 1px solid #f5f1f1;
  padding-top: 1rem;
  border-bottom: 1px solid #e7e5e5;
}

.settings .settings__icon {
  margin-right: 1rem;
}

.settings .settings__title {
  font-size: 1rem;
}

.settings .settings_setting {
  margin-bottom: 1.2rem;
}
