* {
  box-sizing: border-box;
}
.status-bar {
  top: 0;
  background-color: #fffefe;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
}
.status-bar i {
  font-size: 1rem;
}
