* {
  box-sizing: border-box;
}
.status-bar {
  background-color: #fffefe;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  top: 0;
}
.status-bar i {
  font-size: 1rem;
}
