@import "../css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mukta:wght@400;500;700&family=Open+Sans+Condensed:wght@300&display=swap");
@import "../css/status-bar.css";
@import "../css/header.css";
@import "../css/nav-bar.css";
@import "../css/chat.css";
@import "../css/friend.css";
@import "../css/friends.css";
@import "../css/add.css";
@import "../css/more.css";
@import "../css/settings.css";
@import "../css/message.css";
@import "../css/mobile.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 10px;
  color: #3d3c3c;
  font-family: "Mukta", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-paperclip,
.fas .fa-tools {
  font-size: 1.4rem;
}
.fa-tools:before {
  font-size: 1.4rem;
}
.fa-user.solid {
  font-size: 1.4rem;
}

.fa-lock-open:before {
  color: white;
  animation: 4.5s fa-lock-open ease-in-out;
}

@keyframes fa-lock-open {
  0% {
    color: black;
    opacity: 1;
  }
  100% {
    color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    transform: none;
  }
}
main {
  animation: fadeIn 0.5s;
}
